<div class="row">
<%= render :partial => "/user_center/time_select" %>  


<dl class="dl-horizontal">

	<dt> last items: </dt>

	<dd>   <%= Shop.order('updated_at desc').limit(1).first.updated_at %>             </dd>


	<dt> last sales: </dt>

	<dd>   <%= ShopItem.order('last_check_time desc').limit(1).first.last_check_time %>             </dd>
</dl>
<% @shops.each do |shop| %>

<section>
	<div class="col-xs-12 col-sm-6 col-md-6">
		<h3> <%= link_to shop.title,user_center_shop_path(shop) %> <small> <a class='btn btn-success btn-small compare_btn' data-id="<%=shop.id%>" data-title="<%=shop.title%>" > <i class="icon-plus"></i> 加入对比 </a>  </small> </h3>


		<dl class="dl-horizontal"> 
			<dt>当日订单：</dt>

			<% today_sales = calc_sales_count_and_money(shop.today_sales(@offset)) %>
			<dd><%= today_sales[0] %> 个 </dd>

			<dt>当日金额： </dt>
			<dd> <%= today_sales[1] %> 元 </dd>
		</dl>
		
		<div class="accordion" id="accordion<%=shop.id%>">
			<div class="accordion-group">



		    	<div class="accordion-heading">
		      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%=shop.id%>" href="#collapse<%=shop.id%>">
		      			<% today_changes_sales = today_changes(shop,@offset) %>
		       	 		当日行为（<%= today_changes_sales.count %>）
		      		</a>
		    	</div>
		    	<div id="collapse<%=shop.id%>" class="accordion-body collapse ">
		      		<div class="accordion-inner">
						<ul> 
							<% today_changes_sales.each do |change| %>

								<li>
									<%= change.html_safe %>
								</li>


							<% end %>
						
						</ul>

		      		</div>
		    	</div>
		   </div>
	   </div>


		<div class="accordion" id="accordion_sale<%=shop.id%>">
			<div class="accordion-group">



		    	<div class="accordion-heading">
		      		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_sale<%=shop.id%>" href="#collapse_sale<%=shop.id%>">
		       	 		具体销售
		      		</a>
		    	</div>
		    	<div id="collapse_sale<%=shop.id%>" class="accordion-body collapse ">
		      		<div class="accordion-inner">
						<ul> 
							<% today_sales(shop,@offset).each do |k,sale| %>
								<li>
									<%= sale['item'] %> &nbsp;&nbsp; 数量：<%= sale['count'] %>&nbsp;&nbsp; 总金额: <%= sale['money'].round(2) %>
								</li>




							<% end %>
						
						</ul>

		      		</div>
		    	</div>
		   </div>
	   </div>
	</div>

</section>
	

<% end %>


<div class="compare_list span2 text-center" style="display:none" >
	<h4> 店铺对比  </h4>
	<ul id="compare_list" class="text-left"> 
	</ul>
	<hr>
	<div>

		<button class="btn-primary" id="do_compare" > 开始对比 </button>
		
		<small> <a class="clear" href="javascript:void(0)"> 清空 </a> </small>
	</div>

	<p class="text-center">  <a href="javascript:void(0)" class="collapse"> <i class="icon-eject "> </i> </a> </p>
</div>


</div>
<%= content_for :script do %>
<script type="text/javascript">
	
	$(function(){

		$('.compare_btn').click(function(){
			compare_list.ele.show();
			compare_list.append(this);
		});

		$(document).on("click","#compare_list li i",function(){ compare_list.remove(  $(this).closest('li')) });





		var compare_list = {
			ele : $('.compare_list'),
			cell: $('#compare_list'),
			clearBtn : $('.compare_list .clear'),
			collapseBtn: $('.compare_list .collapse'),
			keys_hash : {},
			bindCancel:function(ele){
				ele.click(function(){
					
				})
			},
			ids:function()
			{	
				var ids = [];
				for(var i in this.keys_hash)
				{
					ids.push(i);
				}

				ids.join(',');
				return ids;
			},
			append:function(shop)
			{

				var id = $(shop).attr('data-id');
				var title =  $(shop).attr('data-title');
				if(this.keys_hash[id] == undefined)
				{
					if(this.cell.find('li').size() <4)
					{

						var html = '<li data-id="' +  id + '"><small> '  + title + '</small> <i class="icon-remove "> </i> </li>';
						//this.bindCancel($(html).find('i'));

						this.cell.append( html);

						this.keys_hash[id] = title;
					}
					else{
						alert('最大支持4个商店')
					}
				}
			},
			remove:function(ele)
			{

				id = ele.attr('data-id');
				this.keys_hash[id] = undefined;
				ele.remove();
			},

			init:function()
			{
				this.clearBtn.click($.proxy(function(){

					this.keys_hash = {};
					this.cell.html('');

				}, this));

				this.collapseBtn.click($.proxy(function(){

					this.ele.hide();

				}, this));
			}

		}

		compare_list.init();


		$('#do_compare').click(function(){

			var url = "<%=compare_user_center_shops_path%>";

			url = url +'?id=' + compare_list.ids();

			window.location.href=url;

		});
	});


</script>
<% end %>