
<% if notice %>
<div class="alert alert-success">
	<strong><%= notice %></strong>
</div>
<% end %>

<div class="span3 offset3">
		<i class="icon-plus"></i>
		<%= link_to '新增', new_user_center_shop_path %>
</div>

<div class="clearfix"></div>



<section id="unwatched_list">
	<div >
		<h3>未订阅</h3>
		<div class="row">

			<% Shop.unwatched(current_user.id).each do |shop| %>
				<li class="col-xs-12 col-sm-6 col-md-3 " shop-id='<%=shop.id%>'> 
					标题: <%= link_to shop.title,user_center_shop_path(shop) %> <br>
					地址： <%= link_to shop.url.first(30),shop.url  %> <br>
					产品数: <%=shop.shop_items.count %> <br>

					<a class="btn btn-info scribe" > 订阅 </a>

				</li>
			<% end %>


		</div>
		

	</div>
</section>

<hr>

<section id="watched_list">
	<div >
		<h3>已订阅</h3>
		<div class="row">

			<% Shop.watched(current_user.id).each do |shop| %>
				<li class="col-xs-12 col-sm-6 col-md-3 " shop-id='<%=shop.id%>'> 
					标题: <%= link_to shop.title,user_center_shop_path(shop) %><br>
					地址： <%= link_to shop.url.first(30),shop.url  %><br>
					产品数: <%=shop.shop_items.count %> <br>

					<a class="btn btn-info scribe" > 取消订阅 </a>
				</li>
			<% end %>


		</div>
		

	</div>
</section>

<%= content_for :script do %>
<script type="text/javascript">
	$(function(){

		var unwatched_func = function(){

			var li = $(this).closest('li');
			var ul = $(li).parent();

			var another_ul = $('section#watched_list div.row');
			//animate
			$(li).hide('normal',function(){


				//ajax
				$.ajax({
					'type':'POST',
					'url':'<%=subscribe_user_center_shops_path%>',
					'data':{'shop_id':$(li).attr('shop-id')},
					'success':function(){}
				})
				//change li
				$(li).find('a.btn').html('取消订阅');
				$(li).find('a.btn').unbind();
				$(li).find('a.btn').click(watched_func);

				$(another_ul).append(li);
				$(li).show('normal');
			});


		};

		var watched_func = function(){

			var li = $(this).closest('li');
			var ul = $(li).parent();

			var another_ul = $('section#unwatched_list div.row');
			//animate
			$(li).hide('normal',function(){
				//ajax
				$.ajax({
					'type':'POST',
					'url':'<%=unsubscribe_user_center_shops_path%>',
					'data':{'shop_id':$(li).attr('shop-id')},
					'success':function(){}
				})
				//change li
				$(li).find('a.btn').html('订阅');
				$(li).find('a.btn').unbind();
				$(li).find('a.btn').click(unwatched_func);


				$(another_ul).append(li);
				$(li).show('normal');
			});


		};


		$('section#unwatched_list .row li a.scribe').click(unwatched_func);


		$('section#watched_list .row li a.scribe').click(watched_func);


	});

	
</script>

<% end %>




