<%= simple_form_for @shop, :url => user_center_shops_path,:methos=>'create', :html => { :class => 'form-horizontal' } do |f| %>

	 <% if notification = f.error_notification %>
	    <div class="alert alert-error fade in">
	      <a class="close" data-dismiss="alert" href="#">&times;</a>
	      <%= notification %>
	    </div>
	  <% end %>


	  <%= f.input :title ,:input_html => { :class => "span6" }, :hint => "店铺名称 请用汉语标示" %>
	  <%= f.input :url, :input_html => { :class => "span6" }, :hint => "店铺地址 （http://slwsp.tmall.com/)" %>


	  <div class="text-center">
	  	<%= f.button :submit %>
	  </div>


<% end %>


<script type="text/javascript">
	
	$(function(){

		$('#shop_url').blur(function(){

			if( /^http:\/\/\w*\.(tmall|taobao)\.com\//i.test($(this).val()))
			{
				modify_val = $(this).val().substr(0,  $(this).val().indexOf("com/") + 4 );

				$(this).val(modify_val);
			}

		})

	})

</script>